<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPaymentLabel">Create or edit a Payment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!payment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="payment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="payment.price" required/>
            <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.price?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.price?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_buyerName">Buyer Name</label>
            <input type="text" class="form-control" name="buyerName" id="field_buyerName"
                [(ngModel)]="payment.buyerName" required/>
            <div [hidden]="!(editForm.controls.buyerName?.dirty && editForm.controls.buyerName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.buyerName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                [(ngModel)]="payment.notes" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_reservationCode">Reservation Code</label>
            <select class="form-control" id="field_reservationCode" name="reservationCode" [(ngModel)]="payment.reservationCode">
                <option [ngValue]="null"></option>
                <option [ngValue]="reservationOption.id === payment.reservationCode?.id ? payment.reservationCode : reservationOption" *ngFor="let reservationOption of reservationcodes; trackBy: trackReservationById">{{reservationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
