<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myReservationLabel">Create or edit a Reservation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!reservation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="reservation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tourCode">Tour Code</label>
            <input type="number" class="form-control" name="tourCode" id="field_tourCode"
                [(ngModel)]="reservation.tourCode" required/>
            <div [hidden]="!(editForm.controls.tourCode?.dirty && editForm.controls.tourCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.tourCode?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.tourCode?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_personName">Person Name</label>
            <input type="text" class="form-control" name="personName" id="field_personName"
                [(ngModel)]="reservation.personName" required/>
            <div [hidden]="!(editForm.controls.personName?.dirty && editForm.controls.personName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.personName?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_paid">Paid</label>
            <input type="checkbox" class="form-control" name="paid" id="field_paid"
                [(ngModel)]="reservation.paid" />
            <div [hidden]="!(editForm.controls.paid?.dirty && editForm.controls.paid?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.paid?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                [(ngModel)]="reservation.notes" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
