
<div *ngIf="reservation">
    <h2><span>Reservation</span> {{reservation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Tour Code</span></dt>
        <dd>
            <span>{{reservation.tourCode}}</span>
        </dd>
        <dt><span>Person Name</span></dt>
        <dd>
            <span>{{reservation.personName}}</span>
        </dd>
        <dt><span>Paid</span></dt>
        <dd>
            <span>{{reservation.paid}}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
            <span>{{reservation.notes}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reservation/'+ reservation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
